// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//FONT
$mainFont: 'Quicksand',
Arial;

/*Color Variables*/
// $primary: #7706de !default;
$primary: #e20840 !default;
$secondary: #ff6622 !default;
$white: #fff;
// $black: #000;
$baseColor: #000;

$lightGray: #e5eaea;
$darkGray: #eff1f1;

$lightBluish: #797979;
$baseLight: #e1e4e7;
